.page-frame
	.todo
		.todo__header
			h1.center-align Green todolist
		input(type="text" placeholder="What you need to do?").todo__input
		.todo__content
			ul.todo__list
			.todo__toolbar.todo-toolbar
				.todo-toolbar__count
				.todo-toolbar__filter
					button#all All
					button#activeBtn Active
					button#completedBtn Completed
					button#clearBtn Clear All
